.ListOfPostsBarItem {
    max-width: 500px;
    padding: 10px;
}
.ListOfPostsBarItem__User {
  display: flex;
  flex-direction: row;
  border: none;
}
.ListOfPostsBarItem__User img {
  width: 100px;
  object-fit: cover;
  cursor: pointer;
}
