.Header__Menu {
  display: flex !important;
  gap: 2px;
  flex-direction: column;
}
.Header__Menu a {
  display: flex;
  width: 100%;
  text-decoration: none;
  padding: 2px;
}
.Header__Menu a:hover {
  background-color: gainsboro;
}
.Header {
  display: flex;
  justify-content: flex-end;
}
