.SideBar a {
  color: black;
  text-decoration: none;
  padding: 3px;
  display: flex;
}
.SideBar a:hover {
  color: black;
  background-color: aliceblue;
}
.SideBar{
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.SideBar button {
  display: block;
}
